In [15]:
import pandas as pd
import requests

#Import Data

In [17]:
url = 'https://www.pro-football-reference.com/years/2023/fantasy.htm' # HTTP request reflector
table_data = pd.read_html(url)
df = table_data[0]
df.head()

  Unnamed: 0_level_0    Unnamed: 1_level_0 Unnamed: 2_level_0  \
                  Rk                Player                 Tm
0                  1  Christian McCaffrey*                SFO
1                  2          CeeDee Lamb*                DAL
2                  3            Josh Allen                BUF
3                  4          Tyreek Hill*                MIA
4                  5           Jalen Hurts                PHI

  Unnamed: 3_level_0 Unnamed: 4_level_0 Games     Passing             ...  \
             FantPos                Age     G  GS     Cmp  Att   Yds  ...
0                 RB                 27    16  16       0    0     0  ...
1                 WR                 24    17  17       0    0     0  ...
2                 QB                 27    17  17     385  579  4306  ...
3                 WR                 29    16  16       0    0     0  ...
4                 QB                 25    17  17     352  538  3858  ...

  Scoring           Fantasy
       TD  2PM  2PP  FantPt    PPR   DKPt   FDPt  VBD PosRank OvRank
0      21  NaN  NaN     324  391.3  399.3  357.8  157       1      1
1      14    1  NaN     268  403.2  411.2  335.7  131       1      2
2      15  NaN    3     393  392.6  420.6  410.6  122       1      3
3      13  NaN  NaN     257  376.4  380.4  316.9  120       2      4
4      15  NaN  NaN     357  356.8  382.8  371.8   89       2      5

[5 rows x 33 columns]

#Clean data

In [31]:
#pass columns list as df columns
my_columns = ['rk','player','tm','fantpos','age','g','gs','passing_cmp','passing_att','passing_yds','passing_td','passing_int','rushing_att','rushing_yds','rushing_y_a','rushing_td',
              'receiving_tgt','receiving_rec','receiving_yds','receiving_y_r','receiving_td','fmb','fl','td','2pm','2pp','fantpt','ppr','dkpt','fdpt','vbd','posrank','ovrank']

df.columns = my_columns

df = (
    df.loc[df['rk']!='Rk'] #exclude rows with column names
    .fillna(0)
)

df[df.columns[4:33]] = df[df.columns[4:33]].apply(pd.to_numeric)
df.head()

,rk,player,tm,fantpos,age,g,gs,passing_cmp,passing_att,passing_yds,...,td,2pm,2pp,fantpt,ppr,dkpt,fdpt,vbd,posrank,ovrank
0,1,Christian McCaffrey*,SFO,RB,27,16,16,0,0,0,...,21,0,0,324,391.3,399.3,357.8,157,1,1
1,2,CeeDee Lamb*,DAL,WR,24,17,17,0,0,0,...,14,1,0,268,403.2,411.2,335.7,131,1,2
2,3,Josh Allen,BUF,QB,27,17,17,385,579,4306,...,15,0,3,393,392.6,420.6,410.6,122,1,3
3,4,Tyreek Hill*,MIA,WR,29,16,16,0,0,0,...,13,0,0,257,376.4,380.4,316.9,120,2,4
4,5,Jalen Hurts,PHI,QB,25,17,17,352,538,3858,...,15,0,0,357,356.8,382.8,371.8,89,2,5